# bits
data/
node*.log

# jest
coverage/

# Nodejs and NPM
node_modules/
npm-debug.log
yarn-error.log
yarn.lock

# polymer-cli
build/
support/scripts/upgrade-server/public/socket.io.js

*.swp

# Webstorm
.idea

# V8 cache
v8-compile-cache-0/

# Bazel
bazel-*
